<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="jwt.Properties.Settings.jwtConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\projects\JWT.Studio\jwtApp\App_Data\jwt.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>