 <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="root.nav1">nav1</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.nav2">nav2</a></li>
                    <li ui-sref-active="active"><a ui-sref="root.nav3">nav3</a></li>
                   <li ui-sref-active="active"><a ui-sref="root.complex.all">all</a></li>
                </ul>
              
            </div>
        </div>
    </div>

<div ui-view></div>