
<div>    
    <input type="button" value="Install {{name}}" class="btn btn-success" ng-click="installComponent()" />
</div>
<br />
<b>Description</b>
<hr />
<p>{{description}}</p>

<b>Demo</b><input type="button" class="btn btn-link" value="Demo Code" ng-click="getDemoInfo(name,'code')" />
<input type="button" class="btn btn-link" value="Api" ng-click="getDemoInfo(name,'api')" />
<hr />

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Component {{title}}</h3>
    </div>
    <div class="modal-body">
        <div ng-bind-html="info" ></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>

    </div>
</script>

