<?xml version="1.0" encoding="utf-8"?>
<ArrayOfJwtWidget xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <JwtWidget>
    <Name>Course</Name>
    <PropertyList>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>false</Checked>
        <PropertyName>CourseID</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>true</Checked>
        <PropertyName>Title</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.String</Xtype>
        <UiType>text</UiType>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>true</Checked>
        <PropertyName>Credits</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <UiType>text</UiType>
        <Details />
      </JPropertyInfo>
    </PropertyList>
  </JwtWidget>
</ArrayOfJwtWidget>