<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <_id>0b4165cf-03de-44dd-9abd-6c5fcf9a0795</_id>
    </Layout>
    <Layout>
      <LayoutName>complex</LayoutName>
      <Extend>root</Extend>
      <_id>f312b113-d8f9-408f-9b75-62da7da4ae4c</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>58b457a7-5c04-4274-9469-f830af35ab79</_id>
      <NavigationName>nav1</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>widget1</WidgetName>
    </Navigation>
    <Navigation>
      <_id>e9d44a5f-7cc5-48f6-8126-ef4a03c913ce</_id>
      <NavigationName>all</NavigationName>
      <HasLayout>complex</HasLayout>
      <UIViews>
        <View>
          <ViewName>col1</ViewName>
          <WidgetName>widget1</WidgetName>
        </View>
        <View>
          <ViewName>col2</ViewName>
          <WidgetName>widget2</WidgetName>
        </View>
        <View>
          <ViewName>col3</ViewName>
          <WidgetName>widget3</WidgetName>
        </View>
        <View>
          <ViewName>col4</ViewName>
          <WidgetName>ims</WidgetName>
        </View>
      </UIViews>
    </Navigation>
    <Navigation>
      <_id>f93377f4-af2c-45ea-a4a9-e8cc111a7d5d</_id>
      <NavigationName>nav2</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>ims</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>13aaa52a-12f5-4f68-b2da-cf3085124099</_id>
      <NavigationName>nav3</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>test</WidgetName>
      <UIViews />
    </Navigation>
  </UINavigations>
</jwtApp>