<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts />
  <UINavigations>
    <Navigation>
      <_id>7b040da3-f1b2-495a-a56d-b29034fc54fe</_id>
      <NavigationName>Course</NavigationName>
      <WidgetName>Course202</WidgetName>
    </Navigation>
  </UINavigations>
</jwtApp>