<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <_id>0b4165cf-03de-44dd-9abd-6c5fcf9a0795</_id>
    </Layout>
    <Layout>
      <LayoutName>complex</LayoutName>
      <Extend>root</Extend>
      <_id>f312b113-d8f9-408f-9b75-62da7da4ae4c</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>58b457a7-5c04-4274-9469-f830af35ab79</_id>
      <NavigationName>nav1</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>widget1</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>7fc7d005-8030-467b-acff-79a03f4037d0</_id>
      <NavigationName>nav2</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>widget2</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>39f3cd13-9852-40b0-ad4d-00559592ea69</_id>
      <NavigationName>nav3</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>ims</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>f5b05569-0bff-40e5-8d89-4c208e29013e</_id>
      <NavigationName>all</NavigationName>
      <HasLayout>complex</HasLayout>
      <UIViews>
        <View>
          <ViewName>col1</ViewName>
          <WidgetName>widget1</WidgetName>
        </View>
        <View>
          <ViewName>col2</ViewName>
          <WidgetName>widget2</WidgetName>
        </View>
        <View>
          <ViewName>col3</ViewName>
          <WidgetName>ims</WidgetName>
        </View>
      </UIViews>
    </Navigation>
  </UINavigations>
</jwtApp>