<?xml version="1.0" encoding="utf-8"?>
<ArrayOfState xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <State>
    <Id>c858191f-3fc2-4171-b63b-4882be7010b0</Id>
    <StateName>Student</StateName>
    <Url>/Student</Url>
    <StateController>StudentCtrl</StateController>
    <TemplateUrl>Student.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>c5820de9-084c-44a2-ae59-c7692fd9c138</Id>
    <StateName>Course</StateName>
    <Url>/Course</Url>
    <StateController>CourseCtrl</StateController>
    <TemplateUrl>Course.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>4397a833-77d9-4220-a6ef-fb2163821f70</Id>
    <StateName>Enrollment</StateName>
    <Url>/Enrollment</Url>
    <StateController>EnrollmentCtrl</StateController>
    <TemplateUrl>Enrollment.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
</ArrayOfState>