@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" value="AddStudent" onclick="addStudent()" />
<input type="button" value="Update" onclick="update()" />
<input type="button" value="GetAll" onclick="getAll()" />
<input type="button" value="Remove" onclick="remove()" />
<input type="button" value="GetPaged" onclick="GetPaged()" />
<br />
<input type="text" id="id" /><input type="button" value="GetByID" onclick="getByID()" />
<script>
    function addStudent() {

        jQuery.ajax({
            url: "Test/InsertEntities",
            data: JSON.stringify([{ FirstMidName: 'Jasim--8', LastName: 'KHAN', EnrollmentDate: '12/12/2014' },
  { FirstMidName: 'Jasim--9', LastName: 'KHAN', EnrollmentDate: '12/12/2014' }
            ])
            , success: function (res) { console.log(res); },
            contentType: "application/json;charset=utf-8",
            type:'POST'
        }
            );
    }
    function update() {

        jQuery.ajax({
            url: "Test/UpdateEntities",
            data: JSON.stringify([{ID:9, FirstMidName: 'Jasim--8', LastName: 'KHAN', EnrollmentDate: '12/12/2014' },
  { ID: 22, FirstMidName: 'Jasim--9', LastName: 'KHAN', EnrollmentDate: '12/12/2014' }
            ])
            , success: function (res) { console.log(res); },
            contentType: "application/json;charset=utf-8",
            type: 'POST'
        }
            );
    }
    function getAll() {

        jQuery.get('/Test/GetAll', function (res) { console.log(res); });
    }
    function remove() {

        jQuery.post('/Test/Delete', { ID: $('#id').val(), LastName:"Barzdukas", FirstMidName:"Gytis"

        }, function (res) { console.log(res); });
    }
    function getByID() {
        jQuery.post('/Test/GetByID', { Id: $('#id').val() }, function (res) { console.log(res); });
    }
    function GetPaged() {

        jQuery.get('/Test/GetPaged?pageNo=1&pageSize=5', function (res) { console.log(res); });
    }
</script>
