<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jwt</title>
    <link href="Jwt/Resources/?file=bootstrap.css" rel="stylesheet" />
    <link href="Jwt/Resources/?file=Site.css" rel="stylesheet" />


</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container mac">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>

            </div>
        </div>
    </div>
    <div class="container body-content" ng-controller="mainController">

        <h5>{{msg}}</h5>
        <hr />

        <tabset>
            <tab heading="Navigation">
                <div class="mac">


                    <input type="button" value="Generate Config" class="btn btn-default" ng-click="generateConfig()" />
                    <input type="button" class="btn btn-warning" value="Sync Template" ng-click="getTemplateList()" />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="alert alert-success">Layout</div>
                            <div><label class="xlabel">Name</label><input type="text" ng-change="layoutNameChanged(layout.StateName)" ng-model="layout.StateName" /></div>
                            <div><label class="xlabel">Url</label><input type="text" disabled ng-model="layout.Url" /></div>
                            <div><label class="xlabel">Template </label><input type="text" ng-model="layout.TemplateUrl" /></div>
                            <div><label class="xlabel">Controller </label><input type="text" ng-model="layout.StateController" /></div>
                            <div><label class="xlabel">Parent </label><select ng-model="layout.Parent" ng-options="label for label in parentList"></select></div>
                            <div><label class="xlabel">&nbsp;</label> <input type="button" class="btn btn-default" value="Save Layout" ng-click="saveLayout()" /> </div>
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th> Name</th>
                                        <th>Parent</th>
                                        <th>Url</th>
                                        <th>Template</th>
                                        <th>Controller</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in layoutList">
                                        <td ng-bind="u.StateName"></td>
                                        <td ng-bind="u.Parent"></td>
                                        <td ng-bind="u.Url"></td>
                                        <td ng-bind="u.TemplateUrl"></td>
                                        <td ng-bind="u.StateController"></td>
                                        <td>
                                            <a href="javascript:;" ng-click="update(u)">Update</a>|
                                            <a href="javascript:;" ng-click="remove(u)">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <div class="alert alert-success">Navigation</div>
                            <div><label class="xlabel">Name</label><input type="text" ng-model="state.StateName" /></div>
                            <div><label class="xlabel">Url</label><input type="text" ng-model="state.Url" /></div>
                            <div><label class="xlabel">Template </label><input type="text" typeahead="tpl for tpl in tplList" ng-model="state.TemplateUrl" /></div>
                            <div><label class="xlabel">Controller </label><input type="text" ng-model="state.StateController" /></div>
                            <div>
                                <label class="xlabel">Layout </label><select ng-model="state.Parent" ng-options="label for label in parentList"></select>
                                <input type="button" class="btn btn-warning btn-sm" ng-click="showViewsDialog(state)" ng-if="!!state.Parent && state.Parent !='--Select--'" value="Add Views" />
                            </div>
                            <div><label class="xlabel">&nbsp;</label> <input type="button" class="btn btn-default" value="Save Navigation" ng-click="saveSate()" /> </div>
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Layout</th>
                                        <th>Url</th>
                                        <th>Template</th>
                                        <th>Controller</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in stateList">
                                        <td ng-bind="u.StateName"></td>
                                        <td ng-bind="u.Parent"></td>
                                        <td ng-bind="u.Url"></td>
                                        <td ng-bind="u.TemplateUrl"></td>
                                        <td ng-bind="u.StateController"></td>
                                        <td>
                                            <a href="javascript:;" ng-click="updateState(u)">Update</a>|
                                            <a href="javascript:;" ng-click="removeState(u)">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Widget">
                <div class="mac">
                    <input class="btn btn-default" value="Load Entities" type="button" ng-click="GetEntityList()" />
                    <input class="btn btn-success" value="Create {{selectedEntity}} Widget" type="button" ng-click="CodeGenerate()" />
                    <br /><br />
                    <div class="row">
                        <div class="col-md-3">
                            <ol>
                                <li ng-repeat="u in entities">
                                    <a href="javascript:;" ng-click="entityDetails(u)">{{u}}</a>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-7">
                                    <b>{{selectedEntity}}</b>
                                    <ol>
                                        <li ng-repeat="u in propList">
                                            <label ng-if="!u.HasDetail"><input ng-checked="u.Checked" ng-model="u.Checked" type="checkbox"><span> {{u.PropertyName}}</span></label>
                                            <a href="javascript:;" ng-click="showDetails(u)" ng-if="u.HasDetail">{{u.PropertyName}}</a>
                                            <div ng-if="u.Checked" class="well well-ls">

                                                <div> <label><input ng-checked="u.IsReq" ng-model="u.IsReq" type="checkbox"><span>Required</span></label> </div>
                                                <div ng-if="u.IsReq">
                                                    <div>Required validation message</div>
                                                    <input ng-model="u.ReqMsg" class="msg" type="text" />
                                                </div>


                                                <div> <label><input ng-checked="u.IsMin" ng-model="u.IsMin" type="checkbox"><span>MinLength</span></label></div>
                                                <div ng-if="u.IsMin">
                                                    <div>Min Width</div>
                                                    <input ng-model="u.MinLength" type="text" />
                                                    <div>Min validation message</div>
                                                    <input ng-model="u.MinMsg" class="msg" type="text" />
                                                </div>
                                                <div><label><input ng-checked="u.IsMax" ng-model="u.IsMax" type="checkbox"><span>MaxLength</span></label><br /></div>
                                                <div ng-if="u.IsMax">
                                                    <div>Max Width</div>
                                                    <input ng-model="u.MaxLength" type="text" />
                                                    <div>Max validation message</div>
                                                    <input ng-model="u.MaxMsg" class="msg" type="text" />
                                                </div>
                                                <label>UI Type</label>
                                                <select ng-model="u.UiType">
                                                    <option value="text">Text</option>
                                                    <option value="number">Number</option>
                                                    <option value="email">Email</option>
                                                    <option value="date">Date</option>
                                                    <option value="password">Password</option>
                                                    <option value="textarea">Text Area</option>
                                                    <option value="tel">Phone</option>
                                                    <option value="select">select</option>

                                                </select>



                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-5">
                                    <b>{{selectedEntityDetails}}</b>
                                    <ol>
                                        <li ng-repeat="d in details">
                                            <label><input ng-checked="d.Checked" ng-model="d.Checked" type="checkbox"><span>{{d.PropertyName}}</<span></label>

                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

        </tabset>



        <hr />
        <footer>
            <p>&copy; jwt</p>
        </footer>
    </div>
    <style>
        .xlabel {
            display: inline-block;
            width: 80px;
        }

        label span {
            padding-left: .3em;
        }

        .mac {
            padding: 1em;
        }

        .msg {
            display: block;
            width: 100%;
        }

        input[type=text] {
            width: 300px;
        }

        .modal-body input[type=text] {
            width: 160px;
        }

        .alert {
            padding: 4px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Views</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr><th>View Name</th><th>Template Name</th><th>Controller Name</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in items">
                        <td><input type="text" ng-model="u.ViewName" /></td>
                        <td><input type="text" ng-keyup="templateNameChange(u)" typeahead="tpl for tpl in tplList" ng-model="u.TemplateUrl" /></td>
                        <td><input type="text" ng-model="u.ControllerName" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>

        </div>
    </script>

    <script src="Jwt/Resources/?file=angular.js"></script>
    <script src="Jwt/Resources/?file=angular-resource.js"></script>
    <script src="Jwt/Resources/?file=angular-ui-router.js"></script>
    <script src="Jwt/Resources/?file=angularui.js"></script>
    <script src="Jwt/Resources/?file=app2.js"></script>
    <script src="Jwt/Resources/?file=Utilities.js"></script>
    <script src="Jwt/Resources/?file=mainController_jwt.js"></script>
</body>
</html>
