<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jwtEx</title>
    <link href="JwtEx/Resources/?file=bootstrap.css" rel="stylesheet" />
    <link href="JwtEx/Resources/?file=Site.css" rel="stylesheet" />
    <link href="JwtEx/Resources/?file=codemirror.lib.codemirror.css" rel="stylesheet" />
    <link href="JwtEx/Resources/?file=codemirror.theme.rubyblue.css" rel="stylesheet" />
    <link href="JwtEx/Resources/?file=toastr.toastr.css" rel="stylesheet" />
    <link href="JwtEx/Resources/?file=codemirror.addon.hint.show-hint.css" rel="stylesheet" />
</head>
<body ng-app="jwt2">
    <div class="container body-content" ng-controller="mainController">
       
        <tabset>
            <tab heading="Javascript">
                <div>
                    <div class="btn-group" >
                        <label class="btn btn-success" ng-click="jsSearch('Controllers')" ng-model="jsModel" btn-radio="'Controllers'">Controllers</label>
                        <label class="btn btn-success" ng-click="jsSearch('Services')" ng-model="jsModel" btn-radio="'Services'">Services</label>
                    </div>

                    <input type="text" ng-model="jsFileName" typeahead="name for name in jsList" class="form-control" placeholder="{{jsModel}}" />
                    <input class="btn btn-success" type="button" ng-click="jsLoad(jsFileName)" value="Load" />  
                    <input class="btn btn-success" type="button" value="Save" ng-click="saveJsFile()" />  
                </div>
                <textarea id="jsEditor" name="jsEditor" style="display:block; width:100%;height:500px">                   
                </textarea>
               
            </tab>
            <tab heading="Html">
                <div>
                    <div class="btn-group">
                        <label ng-click="htmlSearch('Layouts')" class="btn btn-success" ng-model="htmlModel" btn-radio="'Layouts'">Layouts</label>
                        <label ng-click="htmlSearch('Widgets')" class="btn btn-success" ng-model="htmlModel" btn-radio="'Widgets'">Widgets</label>
                        <label ng-click="htmlSearch('Components')" class="btn btn-success" ng-model="htmlModel" btn-radio="'Components'">Components</label>
                    </div>

                    <input type="text" ng-model="htmlFileName" typeahead="name for name in htmlList" class="form-control" placeholder="{{htmlModel}}" />
                    <input class="btn btn-success" type="button" ng-click="htmlLoad(htmlFileName)" value="Load" />
                    <input class="btn btn-success" type="button" value="Save" ng-click="saveHtmlFile()" />  
                </div>
                <textarea id="htmlEditor" name="jsEditor" style="display:block; width:100%;height:500px"></textarea>
            </tab>
        </tabset>

        <hr />
        <footer>
            <p>&copy; jwtEx Application</p>
        </footer>
    </div>

    <script src="JwtEx/Resources/?file=jquery.js"></script>
    <script src="JwtEx/Resources/?file=angular.js"></script>
    <script src="JwtEx/Resources/?file=angular-resource.js"></script>
    <script src="JwtEx/Resources/?file=angularui.js"></script>
    <script src="JwtEx/Resources/?file=angular-ui-router.js"></script>
    <script src="JwtEx/Resources/?file=angular-sanitize.js"></script>   
    <script src="JwtEx/Resources/?file=app.js"></script>
    <script src="JwtEx/Resources/?file=jwt.js"></script>
    <script src="JwtEx/Resources/?file=mainController.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.lib.codemirror.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.lib.ui-codemirror.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.mode.javascript.javascript.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.mode.htmlmixed.htmlmixed.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.mode.xml.xml.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.mode.css.css.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.edit.closebrackets.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.edit.closetag.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.edit.matchbrackets.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.edit.matchtags.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.fold.xml-fold.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.selection.active-line.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.search.match-highlighter.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.search.search.js"></script>
    <script src="JwtEx/Resources/?file=toastr.toastr.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.hint.show-hint.js"></script>
    <script src="JwtEx/Resources/?file=codemirror.addon.hint.javascript-hint.js"></script>
        
</body>
</html>
