<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jwt</title>
    <link href="Jwt/Resources/?file=bootstrap.css" rel="stylesheet" />
    <link href="Jwt/Resources/?file=Site.css" rel="stylesheet" />

</head>
<body ng-app="app">

    <div class="container body-content" ng-controller="mainController">

        <h5>{{msg}}</h5>
        <hr />

        <tabset>
            <tab heading="Navigation">
                <div class="mac">


                    <input type="button" value="Generate Config" class="btn btn-default" ng-click="generateConfig()" />
                    <input type="button" class="btn btn-warning" value="Reload Widgets" ng-click="getTemplateList()" />

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="alert alert-success">Layout</div>
                            <form>
                                
                                <div class="form-group">
                                    <label>Layout Name</label><br />
                                    <input class="form-control" type="text" ng-model="lvm.LayoutName" />
                                </div>

                                <div class="form-group">
                                    <label>Parent Layout</label><br />
                                    <select class="form-control" ng-model="lvm.Extend" ng-options="item.LayoutName as item.LayoutName for item in layoutList">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <input type="button" class="btn btn-default" value="Save Layout" ng-click="addLayout(lvm)" /> 
                            </form>
                            <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th> Layout Name</th>
                                        <th>Parent</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in layoutList">
                                        <td ng-bind="u.LayoutName"></td>
                                        <td ng-bind="u.Extend"></td>

                                        <td>
                                            <a href="javascript:;" ng-click="updateLayout(u)">Update</a>|
                                            <a href="javascript:;" ng-click="removeLayout(u)">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <div class="alert alert-success">Navigation</div>
                            <form>
                                <div class="form-group">
                                    <label>Navigation Name</label><br />
                                    <input class="form-control" type="text" ng-model="nvm.NavigationName" />
                                </div>
                                <div class="form-group">
                                    <label>Widget Name</label><br />
                                    <input class="form-control" type="text" typeahead="tpl for tpl in widgetList" ng-model="nvm.WidgetName" />
                                </div>
                                <div class="form-group">
                                    <label>Paramiter Name(s) </label><br />
                                    <input class="form-control" type="text" ng-model="nvm.ParamName" />
                                </div>
                                <div class="form-group">
                                    <label>HasLayout </label><br />
                                    <select class="form-control" ng-model="nvm.HasLayout" ng-options="item.LayoutName as item.LayoutName for item in layoutList">
                                        <option value=""></option>
                                    </select>
                                    <input type="button" class="btn btn-warning btn-sm" ng-click="showViewsDialog(nvm)" ng-if="!!nvm.HasLayout" value="Add Views" />
                                </div>

                            <input type="button" class="btn btn-default" value="Save Navigation" ng-click="addNav(nvm)" /> 
                           </form>
                                 <table class="table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Navigation</th>
                                        <th>Widget</th>
                                        <th>Params</th>
                                        <th>HasLayout</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in navList">
                                        <td ng-bind="u.NavigationName"></td>
                                        <td ng-bind="u.WidgetName"></td>
                                        <td ng-bind="u.ParamName"></td>
                                        <td ng-bind="u.HasLayout"></td>
                                        <td>
                                            <a href="javascript:;" ng-click="updateNav(u)">Update</a>|
                                            <a href="javascript:;" ng-click="removeNav(u)">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Widget">
                <div class="mac">
                    <input class="btn btn-default" value="Load Entities" type="button" ng-click="GetEntityList()" />
                    <input class="btn btn-success" value="Create {{selectedEntity}} Widget" type="button" ng-click="CodeGenerate()" />
                    <br /><br />
                    <div class="row">
                        <div class="col-md-3">
                            <ol>
                                <li ng-repeat="u in entities">
                                    <a href="javascript:;" ng-click="entityDetails(u)">{{u}}</a>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-7">
                                    <b>{{selectedEntity}}</b>
                                    <ol>
                                        <li ng-repeat="u in propList">
                                            <label ng-if="!u.HasDetail"><input ng-checked="u.Checked" ng-model="u.Checked" type="checkbox"><span> {{u.PropertyName}}</span></label>
                                            <a href="javascript:;" ng-click="showDetails(u)" ng-if="u.HasDetail">{{u.PropertyName}}</a>
                                            <div ng-if="u.Checked" class="well well-ls">

                                                <div> <label><input ng-checked="u.IsReq" ng-model="u.IsReq" type="checkbox"><span>Required</span></label> </div>
                                                <div ng-if="u.IsReq">
                                                    <div>Required validation message</div>
                                                    <input ng-model="u.ReqMsg" class="msg" type="text" />
                                                </div>


                                                <div> <label><input ng-checked="u.IsMin" ng-model="u.IsMin" type="checkbox"><span>MinLength</span></label></div>
                                                <div ng-if="u.IsMin">
                                                    <div>Min Width</div>
                                                    <input ng-model="u.MinLength" type="text" />
                                                    <div>Min validation message</div>
                                                    <input ng-model="u.MinMsg" class="msg" type="text" />
                                                </div>
                                                <div><label><input ng-checked="u.IsMax" ng-model="u.IsMax" type="checkbox"><span>MaxLength</span></label><br /></div>
                                                <div ng-if="u.IsMax">
                                                    <div>Max Width</div>
                                                    <input ng-model="u.MaxLength" type="text" />
                                                    <div>Max validation message</div>
                                                    <input ng-model="u.MaxMsg" class="msg" type="text" />
                                                </div>
                                                <label>UI Type</label>
                                                <select ng-model="u.UiType">
                                                    <option value="text">Text</option>
                                                    <option value="number">Number</option>
                                                    <option value="email">Email</option>
                                                    <option value="date">Date</option>
                                                    <option value="password">Password</option>
                                                    <option value="textarea">Text Area</option>
                                                    <option value="tel">Phone</option>
                                                    <option value="select">select</option>

                                                </select>



                                            </div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-5">
                                    <b>{{selectedEntityDetails}}</b>
                                    <ol>
                                        <li ng-repeat="d in details">
                                            <label><input ng-checked="d.Checked" ng-model="d.Checked" type="checkbox"><span>{{d.PropertyName}}</<span></label>

                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

        </tabset>



        <hr />
        <footer>
            <p>&copy; jwt</p>
        </footer>
    </div>
    <style>
        
        label span {
            padding-left: .3em;
        }

        .mac {
            padding: 1em;
        }

        .msg {
            display: block;
            width: 100%;
        }

        input[type=text] {
            width: 300px;
        }

        .modal-body input[type=text] {
            width: 160px;
        }

        .alert {
            padding: 4px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Views</h3>
        </div>
        <div class="modal-body">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr><th>View Name</th><th>Widget Name</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in items">
                        <td ng-bind="u.ViewName"></td>
                        <td><input type="text" typeahead="tpl for tpl in tplList" ng-model="u.WidgetName" /></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>

        </div>
    </script>

    <script src="Jwt/Resources/?file=angular.js"></script>
    <script src="Jwt/Resources/?file=angular-resource.js"></script>
    <script src="Jwt/Resources/?file=angular-ui-router.js"></script>
    <script src="Jwt/Resources/?file=angularui.js"></script>
    <script src="Jwt/Resources/?file=app2.js"></script>
    <script src="Jwt/Resources/?file=Utilities.js"></script>
    <script src="Jwt/Resources/?file=mainController_jwt.js"></script>

</body>
</html>
