<div class="container" ng-hide="isGrid">
	<input type="button" class="btn btn-link" value="Create New" ng-click="createNewItem()" />
	<div id="grid-1092ba72-45a3-49f3-83aa-00e31303b21f" ui-grid="gridOpts" ui-grid-paging external-scopes="gridAction" class="grid"></div>
</div>
<div class="container" ng-hide="!isGrid">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="page-header"><b>Department</b></div>
		<form name="DepartmentForm" ng-submit="submitForm()" novalidate>
			 <div class="form-group" ng-class="{ 'has-error' : DepartmentForm.Name.$invalid && !DepartmentForm.Name.$pristine }">
				<label>Name</label>
				<input type="text" name="Name" class="form-control"  ng-model="model.Name" required  />
				<p ng-show="DepartmentForm.Name.$invalid && !DepartmentForm.Name.$pristine" class="help-block">Department Name is Required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : DepartmentForm.Budget.$invalid && !DepartmentForm.Budget.$pristine }">
				<label>Budget</label>
				<input type="number" name="Budget" class="form-control"  ng-model="model.Budget" required  />
				<p ng-show="DepartmentForm.Budget.$invalid && !DepartmentForm.Budget.$pristine" class="help-block">Required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : DepartmentForm.StartDate.$invalid && !DepartmentForm.StartDate.$pristine }">
				<label>StartDate</label>
				<input type="date" name="StartDate" class="form-control"  ng-model="model.StartDate" required  />
				<p ng-show="DepartmentForm.StartDate.$invalid && !DepartmentForm.StartDate.$pristine" class="help-block">Required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : DepartmentForm.InstructorID.$invalid && !DepartmentForm.InstructorID.$pristine }">
				<label>Instructor</label>
				<select  name="InstructorID" class="form-control"  ng-model="model.InstructorID" required  ng-options="s.InstructorID as s.FirstName for s in administratorList" > <option value="">--select--</option></select>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="DepartmentForm.$invalid">Submit</button>
			<button type="button" class="btn btn-default" ng-click="isGrid=false">Cancel</button>
		</form>
	</div>
</div>