<div class="container" ng-hide="isGrid">
	<input type="button" class="btn btn-link" value="Create New" ng-click="createNewItem()" />
	<div id="grid-889be5b4-478f-406e-a67b-fc7956e59625" ui-grid="gridOpts" ui-grid-paging external-scopes="gridAction" class="grid"></div>
</div>
<div class="container" ng-hide="!isGrid">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="page-header"><b>Student</b></div>
		<form name="StudentForm" ng-submit="submitForm()" novalidate>
			 <div class="form-group" ng-class="{ 'has-error' : StudentForm.LastName.$invalid && !StudentForm.LastName.$pristine }">
				<label>LastName</label>
				<input type="text" name="LastName" class="form-control"  ng-model="model.LastName" required  />
				<p ng-show="StudentForm.LastName.$invalid && !StudentForm.LastName.$pristine" class="help-block">Required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : StudentForm.FirstName.$invalid && !StudentForm.FirstName.$pristine }">
				<label>FirstName</label>
				<input type="text" name="FirstName" class="form-control"  ng-model="model.FirstName" required  />
				<p ng-show="StudentForm.FirstName.$invalid && !StudentForm.FirstName.$pristine" class="help-block">Required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : StudentForm.EnrollmentDate.$invalid && !StudentForm.EnrollmentDate.$pristine }">
				<label>EnrollmentDate</label>
				<input type="date" name="EnrollmentDate" class="form-control"  ng-model="model.EnrollmentDate" required  />
				<p ng-show="StudentForm.EnrollmentDate.$invalid && !StudentForm.EnrollmentDate.$pristine" class="help-block">Required</p>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="StudentForm.$invalid">Submit</button>
			<button type="button" class="btn btn-default" ng-click="isGrid=false">Cancel</button>
		</form>
	</div>
</div>