<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <_id>8fd0995c-1bcb-4b8a-9a3c-421bb97cf6d7</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>05ff6e4e-9c05-45b3-bca9-d8b61798f873</_id>
      <NavigationName>chart</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>chartWidget</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>15ec2619-5454-427a-9943-24dddc026246</_id>
      <NavigationName>tableNav</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>tableWidget</WidgetName>
    </Navigation>
  </UINavigations>
</jwtApp>