<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <_id>aac698c8-bc37-466c-a36d-b710a89d16dc</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>92cf9e48-81a6-4bde-be40-f3386f2655ee</_id>
      <NavigationName>mac</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>MacWidget</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>e7649013-54c7-47aa-82c6-de2915d5e71b</_id>
      <NavigationName>jwtFilter</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>jwtFilterWidget</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>48c1f7f3-d135-4222-84d2-f93748322062</_id>
      <NavigationName>dog</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>dogWidget</WidgetName>
    </Navigation>
  </UINavigations>
</jwtApp>