<?xml version="1.0" encoding="utf-8"?>
<ArrayOfFileInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>ripon</UserName>
    <CID>95c07613-67d9-4225-99cd-e586b21a5f88</CID>
    <Start>7:55:47 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>ripon</UserName>
    <Start />
    <End>7:55:59 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>ripon</UserName>
    <CID>95c07613-67d9-4225-99cd-e586b21a5f88</CID>
    <Start>7:56:06 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>ripon</UserName>
    <Start />
    <End>7:56:26 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>ripon</UserName>
    <CID>dfef208c-d6c7-4cf9-a329-8b515612f46d</CID>
    <Start>7:56:41 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>ripon</UserName>
    <Start />
    <End>7:56:45 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>ripon</UserName>
    <CID>ffeceb8b-f808-48b4-8ab6-4fcdb6427c5b</CID>
    <Start>10:22:41 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>ripon</UserName>
    <Start />
    <End>10:23:41 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>ripon</UserName>
    <CID>d19c40bf-c291-47b3-94cc-ad8d976a78cb</CID>
    <Start>10:23:45 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>ripon</UserName>
    <Start />
    <End>10:24:16 PM</End>
  </FileInfo>
</ArrayOfFileInfo>