<?xml version="1.0" encoding="utf-8"?>
<ArrayOfFileInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>jasim</UserName>
    <CID>66598ab3-927e-4be4-83be-5410dc69caa8</CID>
    <Start>8:55:56 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>jasim</UserName>
    <Start />
    <End>8:55:59 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>jasim</UserName>
    <CID>66598ab3-927e-4be4-83be-5410dc69caa8</CID>
    <Start>8:56:02 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>jasim</UserName>
    <Start />
    <End>8:56:04 PM</End>
  </FileInfo>
</ArrayOfFileInfo>