<?xml version="1.0" encoding="utf-8"?>
<ArrayOfFileInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>037a57a7-1c35-47cd-b048-221fcf7133ec</CID>
    <Start>8:09:20 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>8:09:44 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>037a57a7-1c35-47cd-b048-221fcf7133ec</CID>
    <Start>8:10:12 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>ba6f13c4-3f80-48c0-bcc1-6a0bf9ed4a05</CID>
    <Start>9:03:15 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:03:16 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>ba6f13c4-3f80-48c0-bcc1-6a0bf9ed4a05</CID>
    <Start>9:03:31 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>a3d37cda-d5c9-4a82-af0e-9c2ca5fe4642</CID>
    <Start>9:10:29 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:10:30 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>a3d37cda-d5c9-4a82-af0e-9c2ca5fe4642</CID>
    <Start>9:10:44 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:11:13 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:11:14 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:11:25 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:12:16 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:12:58 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:14:13 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Ctrl.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:14:26 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Ctrl.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:14:36 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Ctrl.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:15:32 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Ctrl.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:15:37 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:16:01 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:16:08 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:16:45 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:16:46 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:17:22 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:17:23 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:17:41 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:17:44 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>widget1Ctrl.js</Name>
    <Folder>Select a layout</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:18:51 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>complexCtrl.js</Name>
    <Folder>Select a widgets</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:19:05 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:19:43 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:19:47 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:19:57 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>resolve.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:20:08 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Base</Category>
    <Name>widget1Svc.js</Name>
    <Folder>base</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:20:27 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>BaseSvc.js</Name>
    <Folder>Select a widgets</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:22:05 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Svc.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:22:19 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Svc.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:23:32 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Svc.js</Name>
    <Folder>widget1</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ca05963-40eb-4d61-95d9-f9e0a5493e68</CID>
    <Start>9:23:45 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>widget1Svc.js</Name>
    <Folder>widget1</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>9:23:48 PM</End>
  </FileInfo>
</ArrayOfFileInfo>