<div class="container" ng-hide="vm.isGrid">
	<input type="button" class="btn btn-link" value="Create New" ng-click="vm.createNewItem()" />
	<div id="grid-0a243de2-ffe7-443e-9f86-68ac0c0844ae" ui-grid="gridOpts" ui-grid-paging external-scopes="gridAction" class="grid"></div>
</div>
<div class="container" ng-hide="!vm.isGrid">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="page-header"><b>Student</b></div>
		<form name="StudentForm" ng-submit="vm.submitForm()" novalidate>
			 <div class="form-group" ng-class="{ 'has-error' : StudentForm.LastName.$invalid && !StudentForm.LastName.$pristine }">
				<label>LastName</label>
				<input type="text" name="LastName" class="form-control"  ng-model="vm.model.LastName" required  />
				<p ng-show="StudentForm.LastName.$invalid && !StudentForm.LastName.$pristine" class="help-block">Last Name is required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : StudentForm.FirstName.$invalid && !StudentForm.FirstName.$pristine }">
				<label>FirstName</label>
				<input type="text" name="FirstName" class="form-control"  ng-model="vm.model.FirstName" required  />
				<p ng-show="StudentForm.FirstName.$invalid && !StudentForm.FirstName.$pristine" class="help-block">First name is required</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : StudentForm.EnrollmentDate.$invalid && !StudentForm.EnrollmentDate.$pristine }">
				<label>EnrollmentDate</label>
				<input type="date" name="EnrollmentDate" class="form-control"  ng-model="vm.model.EnrollmentDate" required  />
				<p ng-show="StudentForm.EnrollmentDate.$invalid && !StudentForm.EnrollmentDate.$pristine" class="help-block">required</p>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="StudentForm.$invalid">Submit</button>
			<button type="button" class="btn btn-default" ng-click="vm.isGrid=false">Cancel</button>
		</form>
	</div>
</div>