<?xml version="1.0" encoding="utf-8"?>
<ProjectConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectList>
    <Project>
      <name>ngApp</name>
      <path>e:/ngApp</path>
      <allowTemplate>false</allowTemplate>
      <startPage>root/home</startPage>
    </Project>
    <Project>
      <name>ngApp2</name>
      <path>e:/ngApp2</path>
      <allowTemplate>true</allowTemplate>
      <startPage>root/home</startPage>
    </Project>
  </ProjectList>
</ProjectConfig>