<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <Abstract>true</Abstract>
      <_id>36571cde-5245-42bb-ab91-7283452378f9</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>17b3eed7-630f-4dfc-804f-7dabfa03c1c7</_id>
      <NavigationName>max</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>test</WidgetName>
    </Navigation>
  </UINavigations>
</jwtApp>