<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts />
  <UINavigations>
    <Navigation>
      <_id>eb4703e6-92d3-4b8d-9897-d5fa79477fb5</_id>
      <NavigationName>Course</NavigationName>
      <WidgetName>Course</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>b9d2414c-838a-4a50-b017-e8bffa843d22</_id>
      <NavigationName>Student</NavigationName>
      <WidgetName>Student</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>119dfd42-2904-4929-9171-44ab481539cd</_id>
      <NavigationName>Enrollment</NavigationName>
      <WidgetName>Enrollment</WidgetName>
    </Navigation>
  </UINavigations>
</jwtApp>