<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>rootLayout</LayoutName>
      <_id>30b0e22a-b123-4bfd-a106-fd62cebb76fe</_id>
    </Layout>
    <Layout>
      <LayoutName>imsLayout</LayoutName>
      <Extend>rootLayout</Extend>
      <_id>bcc52af1-9bb4-4932-8dca-38cd2a0f6647</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>eb4703e6-92d3-4b8d-9897-d5fa79477fb5</_id>
      <NavigationName>Course</NavigationName>
      <HasLayout>rootLayout</HasLayout>
      <WidgetName>Course</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>b9d2414c-838a-4a50-b017-e8bffa843d22</_id>
      <NavigationName>Student</NavigationName>
      <HasLayout>rootLayout</HasLayout>
      <WidgetName>Student</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>119dfd42-2904-4929-9171-44ab481539cd</_id>
      <NavigationName>Enrollment</NavigationName>
      <HasLayout>rootLayout</HasLayout>
      <WidgetName>Enrollment</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>10faaa8d-825c-49d0-b268-b4fbf1ce5739</_id>
      <NavigationName>ims</NavigationName>
      <HasLayout>imsLayout</HasLayout>
      <UIViews>
        <View>
          <ViewName>col1</ViewName>
          <WidgetName>Course</WidgetName>
        </View>
        <View>
          <ViewName>col2</ViewName>
          <WidgetName>Student</WidgetName>
        </View>
        <View>
          <ViewName>col3</ViewName>
          <WidgetName>Enrollment</WidgetName>
        </View>
      </UIViews>
    </Navigation>
  </UINavigations>
</jwtApp>