<?xml version="1.0" encoding="utf-8"?>
<ArrayOfState xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <State>
    <Id>7ed4dbda-8b2b-4b79-8de7-e0ecb3b6bc40</Id>
    <StateName>nav1</StateName>
    <Url>/nav1</Url>
    <StateController>nav1Ctrl</StateController>
    <TemplateUrl>nav1.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <Parent>--Select--</Parent>
    <StateViews />
  </State>
  <State>
    <Id>8666039a-b17f-488e-890f-07f68207cbf2</Id>
    <StateName>layout1</StateName>
    <Url>/layout1</Url>
    <TemplateUrl>layout1.html</TemplateUrl>
    <IsAbstract>true</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>066e4f9c-b6af-42f0-9d21-40362e19428f</Id>
    <StateName>nav2</StateName>
    <Url>/nav2</Url>
    <StateController>nav2Ctrl</StateController>
    <TemplateUrl>nav2.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>6a33bbd2-513c-46af-b0aa-7e3e04c640fc</Id>
    <StateName>max</StateName>
    <Url>/max</Url>
    <IsAbstract>false</IsAbstract>
    <Parent>layout1</Parent>
    <StateViews>
      <StateView>
        <TemplateUrl>nav1.html</TemplateUrl>
        <ControllerName>nav1Ctrl</ControllerName>
        <ViewName>col1</ViewName>
      </StateView>
      <StateView>
        <TemplateUrl>nav2.html</TemplateUrl>
        <ControllerName>nav2Ctrl</ControllerName>
        <ViewName>col2</ViewName>
      </StateView>
    </StateViews>
  </State>
  <State>
    <Id>9c1a6e39-1570-450e-b4fb-b4ff35e3ae87</Id>
    <StateName>Course</StateName>
    <Url>/Course</Url>
    <StateController>CourseCtrl</StateController>
    <TemplateUrl>Course.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>b1684003-1c65-408c-b9bb-e388287dcd43</Id>
    <StateName>Student</StateName>
    <Url>/Student</Url>
    <StateController>StudentCtrl</StateController>
    <TemplateUrl>Student.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>ba30167e-e556-4e65-9806-55f92e0ed9b4</Id>
    <StateName>Enrollment</StateName>
    <Url>/Enrollment</Url>
    <StateController>EnrollmentCtrl</StateController>
    <TemplateUrl>Enrollment.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <StateViews />
  </State>
</ArrayOfState>