<?xml version="1.0" encoding="utf-8"?>
<ArrayOfJwtWidget xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <JwtWidget>
    <Name>Course</Name>
    <PropertyList>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>false</Checked>
        <PropertyName>CourseID</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>Title Is Required.</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>Title</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.String</Xtype>
        <UiType>text</UiType>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>Credit is required.</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>Credits</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <UiType>number</UiType>
        <Details />
      </JPropertyInfo>
    </PropertyList>
  </JwtWidget>
  <JwtWidget>
    <Name>Enrollment</Name>
    <PropertyList>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>false</Checked>
        <PropertyName>EnrollmentID</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>sadadsadsa</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>CourseID</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <UiType>select</UiType>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>wqeqweqw</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>StudentID</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
        <UiType>select</UiType>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>qweqwe</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>Grade</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Nullable`1[EntityModule.Entities.Grade]</Xtype>
        <UiType>number</UiType>
        <Details />
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>false</Checked>
        <PropertyName>Course</PropertyName>
        <HasDetail>true</HasDetail>
        <Xtype>EntityModule.Entities.Course</Xtype>
        <Details>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>true</Checked>
            <PropertyName>CourseID</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>true</Checked>
            <PropertyName>Title</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>false</Checked>
            <PropertyName>Credits</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>false</Checked>
            <PropertyName>Enrollments</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
        </Details>
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>false</Checked>
        <PropertyName>Student</PropertyName>
        <HasDetail>true</HasDetail>
        <Xtype>EntityModule.Entities.Student</Xtype>
        <Details>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>true</Checked>
            <PropertyName>StudentID</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>false</Checked>
            <PropertyName>LastName</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>true</Checked>
            <PropertyName>FirstName</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>false</Checked>
            <PropertyName>EnrollmentDate</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
          <JPropertyInfo>
            <IsReq>false</IsReq>
            <IsMin>false</IsMin>
            <IsMax>false</IsMax>
            <MinLength>0</MinLength>
            <MaxLength>0</MaxLength>
            <Checked>false</Checked>
            <PropertyName>Enrollments</PropertyName>
            <HasDetail>false</HasDetail>
            <Details />
          </JPropertyInfo>
        </Details>
      </JPropertyInfo>
    </PropertyList>
  </JwtWidget>
  <JwtWidget>
    <Name>Student</Name>
    <PropertyList>
      <JPropertyInfo>
        <IsReq>false</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <Checked>false</Checked>
        <PropertyName>StudentID</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.Int32</Xtype>
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>Last Name is required</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>LastName</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.String</Xtype>
        <UiType>text</UiType>
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>First name is required</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>FirstName</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.String</Xtype>
        <UiType>text</UiType>
      </JPropertyInfo>
      <JPropertyInfo>
        <IsReq>true</IsReq>
        <IsMin>false</IsMin>
        <IsMax>false</IsMax>
        <MinLength>0</MinLength>
        <MaxLength>0</MaxLength>
        <ReqMsg>required</ReqMsg>
        <Checked>true</Checked>
        <PropertyName>EnrollmentDate</PropertyName>
        <HasDetail>false</HasDetail>
        <Xtype>System.DateTime</Xtype>
        <UiType>date</UiType>
      </JPropertyInfo>
    </PropertyList>
  </JwtWidget>
</ArrayOfJwtWidget>