<div class="container" ng-hide="vm.isGrid">
	<input type="button" class="btn btn-link" value="Create New" ng-click="vm.createNewItem()" />
	<div id="grid-8a4dbc36-cf52-407f-a995-3df211b5fdff" ui-grid="gridOpts" ui-grid-paging external-scopes="gridAction" class="grid"></div>
</div>
<div class="container" ng-hide="!vm.isGrid">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="page-header"><b>Course</b></div>
		<form name="CourseForm" ng-submit="vm.submitForm()" novalidate>
			 <div class="form-group" ng-class="{ 'has-error' : CourseForm.Title.$invalid && !CourseForm.Title.$pristine }">
				<label>Title</label>
				<input type="text" name="Title" class="form-control"  ng-model="vm.model.Title" required  />
				<p ng-show="CourseForm.Title.$invalid && !CourseForm.Title.$pristine" class="help-block">Title Is Required.</p>
			</div>
			 <div class="form-group" ng-class="{ 'has-error' : CourseForm.Credits.$invalid && !CourseForm.Credits.$pristine }">
				<label>Credits</label>
				<input type="number" name="Credits" class="form-control"  ng-model="vm.model.Credits" required  />
				<p ng-show="CourseForm.Credits.$invalid && !CourseForm.Credits.$pristine" class="help-block">Credit is required.</p>
			</div>
			<button type="submit" class="btn btn-primary" ng-disabled="CourseForm.$invalid">Submit</button>
			<button type="button" class="btn btn-default" ng-click="vm.isGrid=false">Cancel</button>
		</form>
	</div>
</div>