<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>nav3Layout</LayoutName>
      <_id>0a3e20ae-1139-4217-8059-036974218342</_id>
    </Layout>
    <Layout>
      <LayoutName>layout2</LayoutName>
      <_id>357bc66a-3c30-46f0-9f4b-e26994c13c64</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>342661a2-fac4-4a37-bc48-fbc344da3519</_id>
      <NavigationName>nav1</NavigationName>
      <WidgetName>widget007</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>ab336508-88c9-490f-8a9d-cca208f37c4a</_id>
      <NavigationName>nav2</NavigationName>
      <HasLayout>nav3Layout</HasLayout>
      <UIViews>
        <View>
          <ViewName>con1</ViewName>
          <WidgetName>DbWeather</WidgetName>
        </View>
        <View>
          <ViewName>con2</ViewName>
          <WidgetName>testWidget</WidgetName>
        </View>
      </UIViews>
    </Navigation>
  </UINavigations>
</jwtApp>