<?xml version="1.0" encoding="utf-8"?>
<ArrayOfState xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <State>
    <Id>5b2429a5-4c21-4839-b648-7327fec0681f</Id>
    <StateName>nav1</StateName>
    <Url>/nav1</Url>
    <StateController>nav1Ctrl</StateController>
    <TemplateUrl>nav1.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <Parent>mainLayout</Parent>
    <StateViews />
  </State>
  <State>
    <Id>160d10a1-205a-42b0-b5c8-ba1b77bc8b12</Id>
    <StateName>mainLayout</StateName>
    <Url>/mainLayout</Url>
    <TemplateUrl>mainLayout.html</TemplateUrl>
    <IsAbstract>true</IsAbstract>
    <StateViews />
  </State>
  <State>
    <Id>09a9d6f0-89ed-4645-aa3f-6f1c0d122c1e</Id>
    <StateName>nav2</StateName>
    <Url>/nav2</Url>
    <StateController>nav2Ctrl</StateController>
    <TemplateUrl>nav2.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <Parent>mainLayout</Parent>
    <StateViews />
  </State>
  <State>
    <Id>64960df9-a7e2-41b3-a056-918d51a98534</Id>
    <StateName>nav3</StateName>
    <Url>/nav3</Url>
    <StateController>nav3Ctrl</StateController>
    <TemplateUrl>nav3.html</TemplateUrl>
    <IsAbstract>false</IsAbstract>
    <Parent>nav3Layout</Parent>
    <StateViews>
      <StateView>
        <TemplateUrl>nav1.html</TemplateUrl>
        <ControllerName>nav1Ctrl</ControllerName>
        <ViewName>con1</ViewName>
      </StateView>
      <StateView>
        <TemplateUrl>nav2.html</TemplateUrl>
        <ControllerName>nav2Ctrl</ControllerName>
        <ViewName>con2</ViewName>
      </StateView>
    </StateViews>
  </State>
  <State>
    <Id>9c802c6f-3de5-47c2-83ce-c7e3db218b1b</Id>
    <StateName>nav3Layout</StateName>
    <Url>/nav3Layout</Url>
    <TemplateUrl>nav3Layout.html</TemplateUrl>
    <IsAbstract>true</IsAbstract>
    <Parent>mainLayout</Parent>
    <StateViews />
  </State>
</ArrayOfState>