<?xml version="1.0" encoding="utf-8"?>
<ArrayOfState xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <State>
    <Id>ee59126a-0b8d-4b25-bde9-5b0034d19ec4</Id>
    <StateName>dddd</StateName>
    <Url>/dddd</Url>
    <TemplateUrl>dddd.html</TemplateUrl>
    <IsAbstract>true</IsAbstract>
    <StateViews />
  </State>
</ArrayOfState>