<?xml version="1.0" encoding="utf-8"?>
<ArrayOfFileInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileInfo>
    <Category>Modules</Category>
    <Name>homeCtrl.js</Name>
    <Folder>Select a Module</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>de182dbe-1fa8-49c8-93df-b828188d1244</CID>
    <Start>1:21:19 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>associateCtrl.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>de182dbe-1fa8-49c8-93df-b828188d1244</CID>
    <Start>1:21:55 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>CourseCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>de182dbe-1fa8-49c8-93df-b828188d1244</CID>
    <Start>1:21:58 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>login</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>de182dbe-1fa8-49c8-93df-b828188d1244</CID>
    <Start>1:22:00 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>loginCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>de182dbe-1fa8-49c8-93df-b828188d1244</CID>
    <Start>1:22:03 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Base</Category>
    <Name>CourseSvc.js</Name>
    <Folder>base</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>125d5cb2-cb76-4d44-91c9-b0cce7283476</CID>
    <Start>2:25:30 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>125d5cb2-cb76-4d44-91c9-b0cce7283476</CID>
    <Start>2:26:07 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>homeCtrl.js</Name>
    <Folder>Select a layout</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>125d5cb2-cb76-4d44-91c9-b0cce7283476</CID>
    <Start>2:26:57 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>125d5cb2-cb76-4d44-91c9-b0cce7283476</CID>
    <Start>2:27:04 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>2:27:07 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>125d5cb2-cb76-4d44-91c9-b0cce7283476</CID>
    <Start>2:27:12 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>2:27:13 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Base</Category>
    <Name>CourseSvc.js</Name>
    <Folder>base</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>a43f906a-8ccf-4215-9498-22469b8210c5</CID>
    <Start>3:55:59 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>assasas.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>b95487e0-78f6-457d-ba18-93cc70756c12</CID>
    <Start>4:04:03 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Components</Category>
    <Name>CourseSvc.js</Name>
    <Folder>Select a component</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>fd54f839-f4b9-41e4-900e-179facde2030</CID>
    <Start>4:17:12 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>CourseCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>fd54f839-f4b9-41e4-900e-179facde2030</CID>
    <Start>4:18:03 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>1fc3df67-42cb-431e-91bf-b9c32b7f80c1</CID>
    <Start>4:44:20 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>4:44:27 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Components</Category>
    <Name>Hello.js</Name>
    <Folder>Select a component</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>1fc3df67-42cb-431e-91bf-b9c32b7f80c1</CID>
    <Start>4:44:31 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>7c2a30f0-ab19-4f25-99c1-327c9805459e</CID>
    <Start>4:45:09 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>851530b0-44ba-4959-ae5a-be7c9ca74a91</CID>
    <Start>4:46:18 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>4:46:21 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>767411c0-1e62-4822-853e-db22a48ca0ac</CID>
    <Start>4:59:31 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>c19f5b8b-57d4-41be-b5e4-f2ae13603bfb</CID>
    <Start>5:00:57 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>cd9aabf9-2657-4dd7-9bdd-7c0cfb97de28</CID>
    <Start>5:02:58 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:03:33 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dcb4db37-a4b8-40b7-8deb-9d0611f7180c</CID>
    <Start>5:05:24 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:05:27 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dcb4db37-a4b8-40b7-8deb-9d0611f7180c</CID>
    <Start>5:05:35 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:05:43 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Hello.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dcb4db37-a4b8-40b7-8deb-9d0611f7180c</CID>
    <Start>5:07:01 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>c0fa847c-149a-4c9b-a7b0-882caed9a100</CID>
    <Start>5:09:09 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:09:12 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>c0fa847c-149a-4c9b-a7b0-882caed9a100</CID>
    <Start>5:09:19 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:09:21 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>c0fa847c-149a-4c9b-a7b0-882caed9a100</CID>
    <Start>5:09:27 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:09:30 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Course.html</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>cf5376aa-010f-48a0-a1f8-18e1aa258923</CID>
    <Start>5:17:30 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Course.html</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:17:33 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Components</Category>
    <Name>CourseCtrl.js</Name>
    <Folder>Select a component</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>cf5376aa-010f-48a0-a1f8-18e1aa258923</CID>
    <Start>5:17:33 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Course.html</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>cf5376aa-010f-48a0-a1f8-18e1aa258923</CID>
    <Start>5:17:45 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>Course.html</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:17:47 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dfa252d8-2d7e-4d35-94e7-3c31867a8449</CID>
    <Start>5:21:01 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:21:03 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dfa252d8-2d7e-4d35-94e7-3c31867a8449</CID>
    <Start>5:21:08 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:21:15 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dfa252d8-2d7e-4d35-94e7-3c31867a8449</CID>
    <Start>5:21:19 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>dox.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:21:21 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>loginCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dfa252d8-2d7e-4d35-94e7-3c31867a8449</CID>
    <Start>5:22:15 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>loginCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:22:15 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>dfa252d8-2d7e-4d35-94e7-3c31867a8449</CID>
    <Start>5:22:18 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:22:18 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>homeSvc.js</Name>
    <Folder>Select a layout</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>1d9a8a41-3339-4767-9931-1d1a26fe980b</CID>
    <Start>5:26:14 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>rootCtrl.js</Name>
    <Folder>Select a widgets</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>1d9a8a41-3339-4767-9931-1d1a26fe980b</CID>
    <Start>5:26:18 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>loginCtrl.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>1d9a8a41-3339-4767-9931-1d1a26fe980b</CID>
    <Start>5:26:38 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>loginCtrl.js</Name>
    <Folder>Course</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:26:38 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>CourseSvc.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>1d9a8a41-3339-4767-9931-1d1a26fe980b</CID>
    <Start>5:27:30 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>CourseSvc.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>5:27:30 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>eecc6a66-2269-4336-a827-27daa40ea105</CID>
    <Start>6:08:28 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>0b1c0204-eb87-4612-b7bc-d21e34ce3f23</CID>
    <Start>6:10:20 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>93d25dd6-6e40-495d-9713-2859e492c206</CID>
    <Start>6:16:02 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>rootCtrl.js</Name>
    <Folder>root</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:16:32 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Layouts</Category>
    <Name>asderr.js</Name>
    <Folder>root</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>93d25dd6-6e40-495d-9713-2859e492c206</CID>
    <Start>6:17:11 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>0e25f566-261a-4672-973b-70ae2a513ed4</CID>
    <Start>6:19:46 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:19:50 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>e18884f2-378a-4bad-b757-f115e447d159</CID>
    <Start>6:20:10 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:20:13 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>e18884f2-378a-4bad-b757-f115e447d159</CID>
    <Start>6:20:34 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4d2ddc05-7d15-4871-8426-fe6adef6de28</CID>
    <Start>6:25:03 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:25:17 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>2f494208-87e9-41a4-a912-1d159305bb81</CID>
    <Start>6:28:06 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>2d67baff-00e8-4fd2-9983-6cfb7e871e5c</CID>
    <Start>6:29:45 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>80b88510-0f7b-4cd9-8611-38ac3613ff3b</CID>
    <Start>6:32:39 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>361050a5-f92d-4bf6-9faa-747b3fc64e66</CID>
    <Start>6:34:20 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>e067dec0-ea31-4d82-98b2-8011066480a1</CID>
    <Start>6:36:43 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:37:02 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>associateCtrl.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>e067dec0-ea31-4d82-98b2-8011066480a1</CID>
    <Start>6:37:35 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>associateCtrl.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:37:50 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>e067dec0-ea31-4d82-98b2-8011066480a1</CID>
    <Start>6:38:36 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:38:41 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>e067dec0-ea31-4d82-98b2-8011066480a1</CID>
    <Start>6:38:53 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>eeeeeeee.js</Name>
    <Folder>associate</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:38:58 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>CourseSvc.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:56:56 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeSvc.js</Name>
    <Folder>Course</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:57:32 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>CourseCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:57:39 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>login</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:57:42 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Base</Category>
    <Name>loginCtrl.js</Name>
    <Folder>base</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:58:04 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>signupCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:58:36 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>signupCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:58:37 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>signupCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>6:58:48 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>signupCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>6:58:51 PM</End>
  </FileInfo>
  <FileInfo>
    <Category>Base</Category>
    <Name>signupCtrl.js</Name>
    <Folder>base</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>9f482ee5-183b-427c-9121-13ab481ba0c7</CID>
    <Start>7:19:44 PM</Start>
    <End />
  </FileInfo>
</ArrayOfFileInfo>