<?xml version="1.0" encoding="utf-8"?>
<ArrayOfFileInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileInfo>
    <Category>Modules</Category>
    <Name>Course.html</Name>
    <Folder>Select a Module</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ac75e85-7c68-40b2-83ff-f5d021e20d1a</CID>
    <Start>12:30:05 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Modules</Category>
    <Name>CourseCtrl.js</Name>
    <Folder>Select a Module</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ac75e85-7c68-40b2-83ff-f5d021e20d1a</CID>
    <Start>12:30:05 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>signupCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>true</Lock>
    <UserName>unknowen</UserName>
    <CID>4ac75e85-7c68-40b2-83ff-f5d021e20d1a</CID>
    <Start>12:30:48 PM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>signupCtrl.js</Name>
    <Folder>signup</Folder>
    <Lock>false</Lock>
    <UserName>unknowen</UserName>
    <Start />
    <End>12:31:00 PM</End>
  </FileInfo>
</ArrayOfFileInfo>