<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                   
                    <li ui-active><a ui-sref="mainLayout.nav1">nav1</a></li>
                    <li ui-active><a ui-sref="mainLayout.nav2">nav2</a></li>
                    <li ui-active><a ui-sref="mainLayout.nav3Layout.nav3">nav3</a></li>
                </ul>                
            </div>
        </div>
    </div>
<div class="well">
  
  <input type="text" ng-model="vm.ml" jwt-filter>
  
</div>

<div ui-view></div>