<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <_id>0b4165cf-03de-44dd-9abd-6c5fcf9a0795</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>8f03b460-7412-4590-adf2-e14b9cdcd365</_id>
      <NavigationName>home</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>home</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>a1cf6e43-e488-4bdb-9f90-7d4913fb550f</_id>
      <NavigationName>login</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>login</WidgetName>
    </Navigation>
    <Navigation>
      <_id>289644d2-99bf-4ee1-a0eb-af9616cfa082</_id>
      <NavigationName>signup</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>signup</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>76f71e82-786c-4fab-9f16-139f262859a9</_id>
      <NavigationName>associate</NavigationName>
      <WidgetName>associate</WidgetName>
      <UIViews />
    </Navigation>
  </UINavigations>
</jwtApp>