<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <_id>0b4165cf-03de-44dd-9abd-6c5fcf9a0795</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>8f03b460-7412-4590-adf2-e14b9cdcd365</_id>
      <NavigationName>home</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>home</WidgetName>
    </Navigation>
  </UINavigations>
</jwtApp>