<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="rootLayout.Student">Student</a></li>
                    <li><a ui-sref="rootLayout.Course">Course</a></li>
                    <li><a ui-sref="rootLayout.Enrollment">Enrollment</a></li>
                  	<li><a ui-sref="rootLayout.imsLayout.ims">All</a></li>
                </ul>
                
            </div>
        </div>
    </div>

<div ui-view></div>